{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}

{{ attach_library('STARTERKIT/layouts') }}
<div class="layout-center">

  <header class="header" role="banner">
    {{ page.header }}
    {{ page.secondary_menu }}
  </header>

  {{ page.primary_menu }}

  <div class="layout-3col">
    <main class="layout-3col__content" role="main">
      {{ page.highlighted }}
      {{ page.breadcrumb }}
      <a href="#skip-link" class="visually-hidden visually-hidden--focusable" id="main-content">Back to top</a>{# link target is in html.html.twig #}
      {{ page.title }}
      {{ page.help }}
      {{ page.content }}
    </main>

    <aside class="layout-3col__sidebar" role="complementary">
      {{ page.sidebar_first }}
      {{ page.sidebar_second }}
    </aside>
  </div>

  {{ page.footer }}

</div>{# /.layout-center #}

{{ page.bottom }}
