{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}

{{ attach_library('STARTERKIT/layouts') }}
<header class="header" role="banner">
  <div class="col">
    <div class="grid">
      <div class="col-12_md-7_lg-3">
        {{ page.header }}
      </div>
      <div class="col-12_md-5_lg-9">
        {{ page.secondary_menu }}
      </div>
    </div>
  </div>
</header>

<div class="col">
  <div class="grid">

    {# Decide on layout classes by checking if sidebars have content. #}
    {% if page.sidebar_first and page.sidebar_second %}
      {% set content_class        = 'col-12_md-4_lg-6' %}
      {% set sidebar_first_class  = 'col-12_md-4_lg-3' %}
      {% set sidebar_second_class = 'col-12_md-4_lg-3' %}
    {% elseif (page.sidebar_second) %}
      {% set content_class        = 'col-12_md-7_lg-9' %}
      {% set sidebar_first_class  = '' %}
      {% set sidebar_second_class = 'col-12_md-7_lg-3' %}
    {% elseif (page.sidebar_first) %}
      {% set content_class        = 'col-12_md-7_lg-9' %}
      {% set sidebar_first_class  = 'col-12_md-5_lg-3' %}
      {% set sidebar_second_class = '' %}
    {% else %}
      {% set content_class        = 'col-12' %}
      {% set sidebar_first_class  = '' %}
      {% set sidebar_second_class = '' %}
    {% endif %}

    {% if page.sidebar_first %}
      <aside class="{{ sidebar_first_class }}" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}

    <main class="{{ content_class }}" role="main">
      {{ page.highlighted }}
      {{ page.breadcrumb }}
      <a href="#skip-link" class="visually-hidden visually-hidden--focusable" id="main-content">Back to top</a>{# link target is in html.html.twig #}
      {{ page.title }}
      {{ page.help }}
      {{ page.content }}
    </main>

    {% if page.sidebar_second %}
      <aside class="{{ sidebar_second_class }}" role="complementary">
        {{ page.sidebar_second }}
      </aside>
    {% endif %}

  </div>
</div>

{{ page.footer }}
{{ page.bottom }}
